<!DOCTYPE html>
<html>
<head>
    <title></title>
<style type="text/css">
    body{
        background-color: #F3FFFD;
        text-align: center;
        font-size: 20px;
        color: #47a3da;
        }
</style>
</head>
<body>
<header style="text-align: center;"><h2> Flask : Python</h2></header>
<hr />
<h3>Flask is running!</h3>
<a href="http://130.211.180.48:8080/page">Page</a>
<div>
    <p>Salute Italy.. Welcome to sf 2015</p>
    <div>
        <pre>Coming Ireland.</pre>
    </div>
</div>

</body>
</html>
